.productPage {
  text-align: left;

  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
  }

  &__images {
    height: auto;
    width: 50%;
    margin-bottom: 180px;
    border: 1px solid #EAEAEA;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
    border-radius: 5px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      vertical-align: bottom;
      border-radius: 5px;
    }
  }

  &__content {
    width: 45%;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 35px;
    position: relative;
    margin-bottom: 35px;
  }

  &__group {
    display: flex;
    align-items: baseline;
    gap: 30px;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

  &__description {
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
  }

  &__buyButton {
    margin-bottom: 20px !important;
  }

  &__link {
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    color: #363636;
    text-align: left;
    margin-bottom: 30px;

    &::before {
      content: url("../../assets/img/arrow.svg");
      margin-right: 6px;
      width: 12px;
      height: 10px;
      display: inline-block;
      transform: rotateX(0deg) rotateY(180deg);
      transition: .3s linear;
    }

    &:hover {
      &::before {
        margin-left: -7px;
        margin-right: 13px;
      }
    }
  }

  &__inBasket {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

  }

  &__inBasket svg {
    width: 40px;
    height: 40px;
  }

  .slick-dots {
    height: 100px;
    padding-top: 100px;
  }

  .slick-dots li {
    height: 100px;
    width: auto;
  }

  .slick-dots li div {
    height: 100px;
    width: auto;
  }

  li img {
    border: 3px solid transparent;
    border-radius: 5px;
    padding: 5px;
    transition: .3s linear;
  }

  li.slick-active img {
    border: 3px solid gray;
  }
}