.dialogBasket{

  &__close{
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  &__close svg{
    width: 35px;
    height: 35px;
    padding: 10px;
    border-radius: 5px;
    transition: .3s linear;

    &:hover{
      background-color: rgba(darkgray, 0.3);
    }
  }

  &__totalPrice{
    font-weight: bold;
    font-size: 20px;
  }

  &__order{
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .MuiDialogTitle-root{
    border: 1px solid #EAEAEA;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }

  .MuiTypography-h6{
    display: flex;
    align-items: center;
  }

  .MuiDialogActions-spacing{
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}