.basketItem{
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: flex-start;
  border: 1px solid #EAEAEA;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  margin-bottom: 30px;

  &__info{
    display: flex;
    gap: 30px;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-right: 20px;
  }

  &__image{
    width: 150px;
    min-width: 150px;
    height: 100px;
    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title{
    width: 100%;
  }
  &__link{
    font-size: 18px;
    color: black;
    width: 100%;
    &:hover{
      text-decoration: underline;
    }
  }
  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &__counter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    width: max-content;
    //border: 1px solid gray;
    //border-radius: 5px;
    //background-color: rgba(darkgray, 0.3);
  }

  &__input{
    width: 60px;
    height: 40px;
    text-align: center;
  }

  &__minus,
  &__plus{
    width: 100%;
    height: 40px;
  }

  &__minus svg,
  &__plus svg{
    width: 16px;
    height: 16px;
  }

  &__bin{
    padding: 5px;
    transition: .3s linear;
    border-radius: 5px;
    cursor: pointer;

     &:hover{
       background-color: rgba(darkgray, 0.3);
     }
  }

  &__bin svg{
    width: 20px;
    height: 20px;
  }







}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm {
  width: 1000px!important;
  max-width: 1000px!important;
}